.Disponibilidad{
    &-Card{
      background-color: $imput-Color;
      border-radius: 10px;
      border: 1px solid $accent-2;
      box-shadow: $Shadow;
      padding: 2rem;
      display: none;
      animation: buttonAniamte  0.3s ease-in-out;
      flex-direction: column;
      transform: scale(0);
      gap: 1rem;
      width: 100%;
      margin: 20px 0 20px 0 !important;
      overflow: auto;
      backdrop-filter: blur(5px);
      overflow-x: hidden;
      &-Label{
        padding: 10px;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
        transition: all 0.3s ease;
        color: $black;
        background-color: $Card-Color;
        border: 1px solid $accent-2;
        @include darkMode{
          color: $white;
          background-color: $imput-Color;
          border: 1px solid $accent-2;
        }
        &-Text{
          font-size: 1rem;
          font-weight: 400;
          color: $black;
        @include darkMode{
          color: $white;
        }
        }
      }
    }
    
    &-Form{
      gap: 20px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  
      &-Input{
        padding: 10px;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;
        font-weight: 400;
        transition: all 0.3s ease;
        color: $black;
        background-color: $Card-Color;
        border: 1px solid $accent-2;
        @include darkMode{
          color: $white;
          background-color: $imput-Color;
          border: 1px solid $accent-2;
        }
        &:focus{
          border: 1px solid $primary-Color;
        }
      }
  
      &-Header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        &-H1{
          color: $black;
          font-size: 1.5rem;
          font-weight: 400;
          @include darkMode{
            color: $white;
          }
        }
      }
      
      &-Button{
        border-radius: 5px;
        border: 1px solid $accent-2;
        outline: none;
        background-color: $accent-2;
        color: $white;
        font-size: 1rem;
        font-weight: 400;
        transition: all 0.3s ease;
        height: 50px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        width: 20%;
        
        &:disabled {
          background: $disabled;
          cursor: not-allowed;
        }
  
        &:disabled:hover{
          cursor: not-allowed;
          background: $disabled; 
        }
  
        &:hover{
          background-color: $primary-Color;
          border: 1px solid $primary-Color;
        }
      }
    
      &-Cambio{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
      }
    }
  }

  .H1{
    color: $black;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    @include darkMode{
      color: $white;
    }
  }
  @media screen and (max-width: 1400px) {
  .Active_Disp{
    height: 90% !important;
    display: flex !important;
    transform: scale(1) !important;
  }
  .Div {
    height: 78% !important;
}
}
  
  @media screen and (max-width: 1250px) {
    .Disponibilidad{
      &-Card{
        background-color: $imput-Color;
        border-radius: 10px;
        border: 1px solid $accent-2;
        box-shadow: $Shadow;
        padding: 2rem;
        display: none;
        animation: buttonAniamte  0.3s ease-in-out;
        flex-direction: column;
        transform: scale(0);
        gap: 1rem;
        width: 100%;
        margin: 20px 0 20px 0 !important;
        overflow: auto;
        backdrop-filter: blur(5px);
      }
    
      &-Form{
        &-Cambio{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
        &-Button{
          border-radius: 5px;
          border: 1px solid $accent-2;
          outline: none;
          background-color: $accent-2;
          color: $white;
          font-size: 1rem;
          font-weight: 400;
          transition: all 0.3s ease;
          height: 50px;
          grid-column-start: 2;
          grid-column-end: 2;
          grid-row-start: 1;
          width: 100%;
          &:disabled {
            background: $disabled;
            cursor: not-allowed;
          }
    
          &:disabled:hover{
            background: $disabled; 
            cursor: not-allowed;
          }
    
          &:hover{
            background-color: $primary-Color;
            border: 1px solid $primary-Color;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .Disponibilidad{

      &-Card{
        background-color: $imput-Color;
        border-radius: 10px;
        border: 1px solid $accent-2;
        box-shadow: $Shadow;
        padding: 2rem;
        display: none;
        animation: buttonAniamte  0.3s ease-in-out;
        flex-direction: column;
        transform: scale(0);
        gap: 1rem;
        width: 100%;
        margin: 20px 0 20px 0 !important;
        overflow: auto;
        backdrop-filter: blur(5px);
      }
        
      &-Form{
        &-Header{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1rem;
          
          &-H1{
            color: $white;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
          }
          &-Button{
            border-radius: 5px;
            border: 1px solid $accent-2;
            outline: none;
            background-color: $accent-2;
            color: $white;
            font-size: 1rem;
            font-weight: 400;
            transition: all 0.3s ease;
            height: 50px;
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            width: 20%;
            &:disabled {
              background: $disabled;
              cursor: not-allowed;
            }
      
            &:disabled:hover{
              background: $disabled; 
              cursor: not-allowed;
            }
      
            &:hover{
              background-color: $primary-Color;
              border: 1px solid $primary-Color;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .H1{
      color: $black;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      @include darkMode{
        color: $white;
      }
    }
    .Disponibilidad{

      &-Card{
        background-color: $imput-Color;
        border-radius: 10px;
        border: 1px solid $accent-2;
        box-shadow: $Shadow;
        padding: 2rem;
        display: none;
        animation: buttonAniamte  0.3s ease-in-out;
        flex-direction: column;
        transform: scale(0);
        gap: 1rem;
        width: 100%;
        margin: 20px 0 20px 0 !important;
        overflow: auto;
        backdrop-filter: blur(5px);
      }
        
      &-Form{
        gap: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
        &-Header{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 1rem;
          
          &-H1{
            color: $white;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
          }
    
        }
        &-Button{
          border-radius: 5px;
          border: 1px solid $accent-2;
          outline: none;
          background-color: $accent-2;
          color: $white;
          font-size: 1rem;
          font-weight: 400;
          transition: all 0.3s ease;
          height: 50px;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          width: 100%;
          &:disabled {
            background: $disabled;
            cursor: not-allowed;
          }
    
          &:disabled:hover{
            background: $disabled; 
            cursor: not-allowed;
          }
    
          &:hover{
            background-color: $primary-Color;
            border: 1px solid $primary-Color;
          }
        }
        &-Input{
          padding: 10px;
          border-radius: 5px;
          border: 1px solid $accent-2;
          outline: none;
          background-color: $imput-Color;
          color: $white;
          font-size: 1rem;
          font-weight: 400;
          transition: all 0.3s ease;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          &:focus{
            border: 1px solid $primary-Color;
          }
        }
      }
    }
  }
  
.Div{

  width: 100%;
  position: relative;
  height: 82%;

  &-Dispo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    
    &-Img{
      margin-top: 120px;
      align-self: center;
      filter: invert(1);
      @include darkMode{
        filter: invert(0);
      }
    }
  }
}

  .Ocultar{
    display:none;
  }

  .Active_Disp{
    height: 100%;
    display: flex !important;
    transform: scale(1) !important;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  input[type=date]::-webkit-calendar-picker-indicator{
    filter: invert(1);
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: $accent-2-Invert;
    &:hover{
      background-color: $primary-Color-Invert;
    }
  }
  
  
  