<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
			<rule name="Angular Routes" stopProcessing="true">
			  <match url=".*" />
			  <conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="/" />
			</rule>
                <rule name="HTTP_REDIREC" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="http://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>